

.scoresheet {
  width: 1200px;
  height: 200px;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  background-image: url('/Users/Mario/Documents/IronHack/game-structure/img/New Project.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: auto;
  
}

#player1 {
  margin-top: 100px;
  margin-left: 170px;
  color: orange
  
  
}

#player2 {
 float: right;
 margin-right: 170px;
 margin-top: -35px;
 color: orange
}